<div class="container-fluid">
  <div class="col-md-10 col-md-offset-1">
    <div class="jumbotron">
      <h1>Syngloss: {{ctrl.display(ctrl.syngloss.name)}}</h1>
    </div>
    <div>
  		<ul class="nav nav-pills">
       	<li><a href ng-click="setTab(1)">Phonology</a></li>
       	<li><a href ng-click="setTab(2)">Nouns</a></li>
       	<li><a href ng-click="setTab(3)">Verbs</a></li>
     	</ul>
  	</div>
    <br><br>
    <div ng-show="isSet(1)">
      <form>
        <div>
          Select the number of syllables: {{ctrl.wordLength}}
          <button ng-click="ctrl.decrementWord()" ng-disabled="ctrl.decrementedWordInvalid()">-</button>
          <button ng-click="ctrl.incrementWord()" ng-disabled="ctrl.incrementedWordInvalid()">+</button>
        </div>
        <br>
        <table>
          <tr>
            <th ng-repeat="syllablePosition in ctrl.syngloss.phonology.phonotactics">
              {{ctrl.tableHeader(ctrl.syngloss.phonology.phonotactics.indexOf(syllablePosition))}}
            </th>
          </tr>
          <tr ng-repeat="syllableIndex in ctrl.getCardinal(ctrl.word.syllables.length)">
            <td ng-repeat="syllablePosition in ctrl.syngloss.phonology.phonotactics">
              <select
                ng-model="ctrl.word.syllables[syllableIndex].phonemes[ctrl.syngloss.phonology.phonotactics.indexOf(syllablePosition)]"
                ng-options="phoneme.value as phoneme.presentation disable when phoneme.invalid(ctrl.word, syllableIndex) for phoneme in syllablePosition"
                ng-change="ctrl.updateWord()"
              >
              </select>
            </td>
          </tr>
        </table>
      </form>
      <br><br>
      <div class="solid-box">
        <p>{{ctrl.display(ctrl.syngloss.name)}}: /{{ctrl.write(ctrl.word, ctrl.syngloss, 'IPA')}}/</p>
        <p ng-repeat="writingSystem in ctrl.syngloss.writingSystems">
          {{ctrl.display(writingSystem.name)}}: {{ctrl.write(ctrl.word, ctrl.syngloss, writingSystem.name)}}
        </p>
      </div>
      <br><br>
      <p>Select date: {{ctrl.displayDate}}</p>
      <input type="range"
        min="{{ctrl.earliestDate}}"
        max="{{ctrl.latestDate}}"
        ng-init="ctrl.latestDate"
        ng-model="ctrl.selectedDate"
        ng-change="ctrl.updateDate()"
      >
      <br><br>
      <div ng-repeat="descendantWord in ctrl.descendantWords">
        <div class="solid-box">
          <p>{{ctrl.display(descendantWord.languageName)}}</p>
          <p ng-repeat="writingSystem in descendantWord.writingSystems">
            {{ctrl.display(writingSystem.name)}}: {{writingSystem.word}}
          </p>
        </div>
      </div>
    </div>
    <div ng-show="isSet(2)">
      <form>
        Select the noun declension class:
        <select
          ng-model="ctrl.selectedNounClass"
          ng-options="nounClass.name for nounClass in ctrl.nounClasses"
          ng-change="ctrl.setGender()"
        ></select>
        <br><br>
        Select the noun gender:
        <select
          ng-model="ctrl.selectedNounGender"
          ng-options="gender for gender in ctrl.nounGenders"
        ></select>
        <br><br>
        <table>
          <tr>
            <th ng-repeat="syllablePosition in ctrl.syngloss.phonology.phonotactics">
              {{ctrl.tableHeader(ctrl.syngloss.phonology.phonotactics.indexOf(syllablePosition))}}
            </th>
          </tr>
          <tr ng-repeat="syllableIndex in ctrl.getCardinal(ctrl.nounStem.length)">
            <td ng-repeat="syllablePosition in ctrl.syngloss.phonology.phonotactics">
              <select
                ng-model="ctrl.nounStem[syllableIndex][ctrl.syngloss.phonology.phonotactics.indexOf(syllablePosition)]"
                ng-options="phoneme.value as phoneme.presentation for phoneme in syllablePosition"
              >
              </select>
            </td>
          </tr>
        </table>
      </form>
      <br><br>
      <div>
        <table>
          <tr>
            <th></th>
            <th class="text-table" ng-repeat="number in ctrl.syngloss.morphology.nominals.numbers">
              {{number}}
            </th>
          </tr>
          <tr ng-repeat="case in ctrl.syngloss.morphology.nominals.cases">
            <td class="text-table">{{case}}</td>
            <td class="text-table" ng-repeat="number in ctrl.syngloss.morphology.nominals.numbers">
              WORD <!-- TODO: Compute word for this case, number, class, and gender -->
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div ng-show="isSet(3)">
      <p>This is the verbs tab.</p>
    </div>
  </div>
</div>
